version: "3.7"
services:
  server:
    build: .
    ports:
      - "8080:8080"
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/iticket?allowPublicKeyRetrieval=true&useSSL=false
    networks:
      - springmysql-net
    depends_on:
      - mysqldb

  mysqldb:
    image: mysql:8.0
    networks:
      - springmysql-net
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=iticket
      - MYSQL_USER=iticket
      - MYSQL_PASSWORD=iticket123
    ports:
      - "3306:3306"

networks:
  springmysql-net:
