<!DOCTYPE html>
<html lang="en" class="h-100">
<head th:replace="~{fragments/head :: head_fragment(title = ${event.eventName} + '・イベント詳細・Iticket')}">
</head>
<body class="d-flex flex-column h-100">
	<!-- Header Start-->
	<header th:replace="~{fragments/header :: header_fragment}">
	</header>
	<!-- Header End-->
	<!-- Body Start-->
	<div class="wrapper">
		<div class="breadcrumb-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-10">
						<div class="barren-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/event}">イベント検索</a></li>
									<li class="breadcrumb-item active" aria-current="page">イベント詳細</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="event-dt-block p-80">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="event-top-dts">
							<div class="event-top-date">
								<span class="event-month" th:text="${#temporals.format(event.eventDate,'M月')}"></span>
								<span class="event-date"th:text="${#temporals.format(event.eventDate,'dd日')}"></span>
							</div>
							<div class="event-top-dt">
								<h3 class="event-main-title"　th:text="${event.eventName}"></h3>
								<div class="event-top-info-status">
									<span class="event-type-name"><i class="fa-solid fa-location-dot"><span th:text="${event.venueName}" th:remove="tag"></span></i></span>
									<span class="event-type-name details-hr">開始時間: <span class="ev-event-date" th:text="${#temporals.format(event.eventTime,'H時m分')}">Sat, Apr 30, 2022 11:30 AM</span></span>
									<span class="event-type-name details-hr"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7 col-md-12">
						<div class="main-event-dt">
							<div class="event-img">
								<img src="images/event-imgs/big-2.jpg" alt="">		
							</div>
							<div class="share-save-btns dropdown">
								<button class="sv-btn me-2"><i class="fa-regular fa-bookmark me-2"></i>保存</button>
								<button class="sv-btn" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-share-nodes me-2"></i>共有</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#"><i class="fa-brands fa-facebook me-3"></i>フェースブック</a></li>
									<li><a class="dropdown-item" href="#"><i class="fa-brands fa-twitter me-3"></i>ツイッター</a></li>
									<li><a class="dropdown-item" href="#"><i class="fa-regular fa-envelope me-3"></i>メール</a></li>
								</ul>
							</div>
							<div class="main-event-content">
								<h4>イベントについて</h4>
								<p>馬頭琴ときいて、皆さんは何を思い浮かべますか？
									われわれ日本人になじみ深いのは、小学校の国語の教科書にも掲載された「スーホの白い馬」ではないでしょうか？「スーホの白い馬」は貧しい青年スーホと心を通わせた白い愛馬との絆の物語です。権力者に愛馬を無慈悲に殺され、嘆き悲しむ青年が愛馬の遺志を継ぎいつでも一緒にいられるように…と作ったのが馬頭琴であったというお話です。これが「馬頭琴」の始まりともいわれていますが、ともに登場する不思議な歌声「ホーミー」など、一度は聞いたことがあるのではないでしょうか。「馬頭琴（モリン・ホール）による伝統音楽芸術」（2003年）、「オルテイン ドウ（モンゴル長唄）」（2008年）、「モンゴル伝統的歌唱法・ホーミー」（2010年）はユネスコの世界無形文化遺産に登録されており、本公演ではこの3つが堪能いただけます。これらを含むモンゴル伝統音楽はモンゴル国の民主化と共に息を吹きかえした不屈の文化なのです。</p>
								<p>福岡でモンゴル国立馬頭琴交響楽団が演奏をするのは、実に15年ぶり。初来日は1997年。モンゴル日本両国の外交関係樹立25周年を記念してのことでしたが、この記念すべき来日には福岡が大きく関わっています。実は1993年第4回福岡アジア文化賞芸術・文化賞にモンゴルを代表する声楽家でオルテイン ドウ歌唱の第一人者ノロゥバンザト氏が選ばれたことがきっかけで、日本とモンゴルとの外交的交流が活発となりました。初来日となった1997年には、モンゴル音楽と縁を作り、両国の架け橋となった「福岡」に感謝をこめて、演奏会が開かれました。本公演はモンゴル・日本外交関係樹立50周年・楽団設立30周年を記念するもので、この公演をアジアのリーダー都市を目指す「福岡」で開催できること、日本の伝統文化を伝承することを使命とし作られた「博多座」での初上演は感慨深いものがあります。ぜひ遊牧民のたくましさやモンゴルの壮大な大草原に育まれた雄大な音楽を是非劇場でご体感ください。博多座ならではの演出で皆さまをモンゴルの大草原へお連れします。</p>
							</div>							
						</div>
					</div>
					<div class="col-xl-4 col-lg-5 col-md-12">
						<div class="main-card event-right-dt">
							<div class="bp-title">
								<h4>イベント情報</h4>
							</div>
							<div class="time-left">
								<div class="countdown">
									<div class="countdown-item">
										<span id="day">13</span>日
									</div>  
									<div class="countdown-item">							
										<span id="hour">5</span>時
									</div>
									<div class="countdown-item">
										<span id="minute">43</span>分
									</div> 
									<div class="countdown-item">
										<span id="second">55</span>秒
									</div>														
								</div>
							</div>
							<div class="event-dt-right-group mt-5">
								<div class="event-dt-right-icon">
									<i class="fa-solid fa-circle-user"></i>
								</div>
								<div class="event-dt-right-content">
									<h4>開催者</h4>
									<h5 th:text="${event.customer.customerSurname + ' ' + event.customer.customerName}"></h5>
									<a th:href="@{/customer/{customerId}/profile(customerId=${event.customer.id})}">プロフィールを見る</a>
								</div>
							</div>
							<div class="event-dt-right-group">
								<div class="event-dt-right-icon">
									<i class="fa-solid fa-calendar-day"></i>
								</div>
								<div class="event-dt-right-content">
									<h4>開始日時</h4>
									<h5>
										<span th:remove="tag" th:text="${#temporals.format(event.eventDate,'YYYY年M月d日')}"></span>
										<span th:remove="tag" th:text="${#temporals.format(event.eventTime,' H時m分')}"></span>
									</h5>
								</div>
							</div>
							<div class="event-dt-right-group">
								<div class="event-dt-right-icon">
									<i class="fa-solid fa-location-dot"></i>
								</div>
								<div class="event-dt-right-content">
									<h4>開催地</h4>
									<h5 class="mb-0" th:text="${event.address}"></h5>
									<a href="#"><i class="fa-solid fa-location-dot me-2"></i>マップで表示</a>
								</div>
							</div>
							<div class="select-tickets-block">
								<h6>チケット</h6>
								<form th:action="@{/event/{eventId}/ticket(eventId=${event.id})}" th:method="post" th:object="${ticketBuyForm}">
									<div th:each="eventCategory : ${event.ticketCategories}">
										<div class="select-ticket-action">
											<div class="ticket-price" th:text="${#numbers.formatDecimal(eventCategory.price, 0, 'COMMA', 2, 'POINT') + '円'}"></div>
											<div class="quantity">
												<div class="counter">
													<span class="down" onClick='decreaseCount(event, this)'>-</span>
													<input type="text" th:field="*{ticketBuys[__${eventCategoryStat.index}__].count}">
													<span class="up" onClick='increaseCount(event, this)'>+</span>
												</div>
											</div>
											<br>
											<p th:text="${eventCategory.description}"></p>
										</div>
									</div>
								</form>
							</div>
							<div class="booking-btn">
								<a href="/" class="main-btn btn-hover w-100">今すぐ買う</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End-->
	<!-- Footer Start-->
	<footer th:replace="~{fragments/footer :: footer_fragment}"></footer>
	<!-- Footer End-->
	<div th:replace="~{fragments/scripts :: scripts_fragment}"></div>
	<script th:src="@{/js/timer.js}"></script>
</body>
</html>