<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head_fragment(title = 'Barren - Simple Online Event Ticketing System')">
  </head>

  <body class="d-flex flex-column h-100">
  <!-- Header Start-->
  <header th:replace="fragments/header :: header_fragment">
  </header>
  <!-- Header End-->

  <!-- Footer Start-->
  <footer th:replace="fragments/footer :: footer_fragment">
  </footer>
  <!-- Footer End-->

  <div th:replace="fragments/scripts :: scripts_fragment"></div>

</body>
</html>