<!DOCTYPE html>
<html lang="jp" class="h-100">
	<head th:replace="~{fragments/head :: head_fragment(title = 'サインイン')}">
	</head>

<body>				
	<div class="form-wrapper">
		<div class="app-form">
			<div class="app-form-sidebar">
				<div class="sidebar-sign-logo">
					<img src="images/sign-logo.svg" alt="">
				</div>
				<div class="sign_sidebar_text">
					<h1>イベントのチケット販売・購入</h1>
				</div>
			</div>
			<div class="app-form-content">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-10">
							<div class="app-top-items">
								<a href="index.html">
									<div class="sign-logo" id="logo">
										<img src="images/logo.svg" alt="">
										<img class="logo-inverse" src="images/dark-logo.svg" alt="">
									</div>
								</a>
								<div class="app-top-right-link">
									<a class="sidebar-register-link" th:href="@{/customer/sign-up}">会員登録</a>
								</div>
							</div>
						</div>
						<div class="col-xl-5 col-lg-6 col-md-7">
							<div class="registration">
								<form id="signin" th:action="@{/customer/sign-in}" method="post">
									<h2 class="registration-title">サインイン</h2>
									<div class="form-group mt-5">
										<label class="form-label">メール*</label>
										<input class="form-control h_50" type="email" name="email" placeholder="メールを入力してください。" value="">
									</div>
									<div class="form-group mt-4">
										<div class="field-password">
											<label class="form-label">パスワード*</label>
										</div>
										<div class="loc-group position-relative">
											<input class="form-control h_50" type="password" name="password" placeholder="パスワードを入力してください。">
											<span class="pass-show-eye"><i class="fas fa-eye-slash"></i></span>
										</div>
									</div>
									<button class="main-btn btn-hover w-100 mt-4" type="submit" form="signin" value="Submit">サインイン <i class="fas fa-sign-in-alt ms-2"></i></button>
								</form>
								<div class="new-sign-link">
									<a class="signup-link" th:href="@{/customer/sign-up}">会員登録</a>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>

	<div th:replace="~{fragments/scripts :: scripts_fragment}"></div>

</body>
</html>